{% include 'header.html' %}
<main>
  {% if debug %}
    <article>
        <code>
            {{menu}}
        </code>    
    </article>
    {% endif %}
    {% for weekday in  week_days %}          
      <details {{'open' if (current_weekday == loop.index0) or debug}}>
        <summary>
          {% if current_weekday == loop.index0 %}
          <ins>{{ weekday }}</ins>
          {%else%}
          {{ weekday }}
          {%endif%}
        </summary>
        <div class="grid">
          <article>
            <header>Breakfast</header>
            <p>
              {{menu['breakfast'][loop.index0]|markdown}}
            </p>
            <footer><a href="/dish/breakfast/{{menu['breakfast'][loop.index0]|truncate(20, True, '')|escape()}}">More</a></footer>
          </article>              
          <article>
            <header>Lunch</header>
            <p>
              {{menu['lunch'][loop.index0]|markdown }}
            </p>
            <footer><a href="/dish/breakfast/{{menu['lunch'][loop.index0]|truncate(20, True, '')|escape()}}">More</a></footer>
          </article>
          <article>
            <header>Dinner</header>
            <p>
              {{menu['dinner'][loop.index0]|markdown }}
            </p>
            <footer><a href="/dish/breakfast/{{menu['dinner'][loop.index0]|truncate(20, True, '')|escape()}}">More</a></footer>
          </article>
          <article>
            <header>Snacks</header>
            <p>
              {{menu['snacks'][loop.index0]}}
            </p>
            <footer><a href="/dish/breakfast/{{menu['snacks'][loop.index0]|truncate(20, True, '')|escape()}}">More</a></footer>
          </article>
        </div>
      </details>  
    {% endfor%}      
</main>
{% include 'footer.html' %}